<div class="photo_list">
	<div class="photo_list_info">
		<div class="pl_t">
			<div class="pl_t_up" ui-sref="profile({userid:1})">
				<img ng-src="images/userphoto.jpg"/>
			</div>
			<div class="pl_t_msg">
				<p>Jessica Alba</p>
				<p>3 hrs</p>
			</div>

			<button class="pl_follow">follow</button>
		</div>

		<div class="pl_img">
			<img src="images/plmsgimg.jpg"/>
		</div>

		<div class="pl_des">
			<div class="pl_des_t">
				<h2>Innocence</h2>
				<div class="pl_des_ic">
					<p>1241</p>
					<p>342</p>
				</div>
			</div>

			<p>
				Is simply an angel. I want to have such a lovely child. Unfortunately I have no boyfriend
			</p>
		</div>
	</div>

	<div class="photo_list_info">
		<div class="pl_t">
			<div class="pl_t_up">
				<img ng-src="images/userphoto.jpg"/>
			</div>
			<div class="pl_t_msg">
				<p>Jessica Alba</p>
				<p>3 hrs</p>
			</div>

			<button class="pl_follow">follow</button>
		</div>

		<div class="pl_img">
			<img src="images/plmsgimg.jpg"/>
		</div>

		<div class="pl_des">
			<div class="pl_des_t">
				<h2>Innocence</h2>
				<div class="pl_des_ic">
					<p>1241</p>
					<p>342</p>
				</div>
			</div>

			<p>
				Is simply an angel. I want to have such a lovely child. Unfortunately I have no boyfriend
			</p>
		</div>
	</div>
</div>