/*! Global*/
$global-font-family:"source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif;

$default-layout-rem-size:50px;

$body-background-color:#e9eff8;


/*! components*/
$ph-return-bg-color:#fff;



/*! Header*/
$header-background-color:#fff;
$header-icon-background-color:#636972;
$header-title-color:#636972;

$header-info-background-color:#2e3340;
$user-info-p1:#8897ac;
$user-info-p2:#b0bdce;
$nav-list-font-color:#b9c7d8;

$nav-list-span-bg:#ff9069;
$nav-list-span-font-color:#fff;


/*! photo-list*/
$pl-bg-color:#fff;
$pl-msg-p1:#8897ac;
$pl-msg-p2:#d0d3dc;
$pl-follow-bg-color:#f1f6fd;
$pl-follow-color:#9ca9ba;

$pl_des_bg_color:#fff;
$pl_des_h2:#8897ac;
$pl_des_p:#d0daea;

$pl_brother_p:#a2b4ca;


/*! login*/
$login_user_name_color:#fff;
$login_input_bg_color:#fff;
$login_input_color:#8a90a8;

$login_sign_in_bg_color:#76a6ef;
$login_sign_in_color:#fff;

$login_msg_p:#b9c7d8;



/*! profile*/
$profile_nav_color:#fff;
$profile_pi_msg_p1:#ffffff;
$profile_pi_msg_p2:#ffffff;
$profile_num_span1:#6d737b;
$profile_num_span2:#b9c7d8;
