<div app-profile>
	<div class="profile">
		<div class="profile_info">
			<div class="pi_img">
				<img ng-src="images/profileimg.jpg"/>
			</div>

			<nav class="pi_nav">
				<div class="ph_return">
					<span></span>
				</div>

				<h2>profile</h2>
			</nav>

			<div class="pi_msg">
				<p>Juana Molina</p>
				<p>Paris,France</p>
			</div>
		</div>

		<ul class="profile_num">
			<li>
				<span>872</span>
				<span>photos</span>
			</li>

			<li>
				<span>56</span>
				<span>videos</span>
			</li>

			<li>
				<span>9602</span>
				<span>Fans</span>
			</li>
		</ul>
	</div>
</div>